/* Grid */

.container {
  max-width: 960px;
  padding: 10px 20px;
  margin: auto;
}

.row, .row-s, .row-m, .row-l {
  clear: both;
  overflow: hidden;
}

.row > div, .row-s > div, .row-m > div, .row-l > div {
  margin-left: 2%;
}

.row > div:first-child, .row-s > div:first-child, .row-m > div:first-child, .row-l > div:first-child {
  margin-left: 0;
}

.row > div:last-child, .row-s > div:last-child, .row-m > div:last-child, .row-l > div:last-child {
  margin-bottom: 0;
}

.col-1 {
  float: left;
  width: 6.5%;
}

.col-2 {
  float: left;
  width: 15%;
}

.col-3 {
  float: left;
  width: 23.5%;
}

.col-4 {
  float: left;
  width: 32%;
}

.col-5 {
  float: left;
  width: 40.5%;
}

.col-6 {
  float: left;
  width: 49%;
}

.col-7 {
  float: left;
  width: 57.5%;
}

.col-8 {
  float: left;
  width: 66%;
}

.col-9 {
  float: left;
  width: 74.5%;
}

.col-10 {
  float: left;
  width: 83%;
}

.col-11 {
  float: left;
  width: 91.5%;
}

.col-12 {
  float: left;
  width: 100%;
  margin-left: 0;
}

/* Larger than mobile */
@media (max-width: 400px) {
  .row-s > div {
    width: 100%;
    margin-left: 0;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 550px) {
  .row-m > div {
    width: 100%;
    margin-left: 0;
  }
}

/* Larger than tablet */
@media (max-width: 750px) {
  .row-l > div {
    width: 100%;
    margin-left: 0;
  }
}