/* Titles */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.0rem;
  font-weight: 400;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.3;
  letter-spacing: -0.08rem;
}

h2 {
  font-size: 4.0rem;
  line-height: 1.3;
  letter-spacing: -0.08rem;
}

h3 {
  font-size: 3.5rem;
  line-height: 1.3;
  letter-spacing: -0.05rem;
}

h4 {
  font-size: 3.0rem;
  line-height: 1.4;
  letter-spacing: -0.04rem;
}

h5 {
  font-size: 2.5rem;
  line-height: 1.4;
  letter-spacing: -0.03rem;
}

h6 {
  font-size: 2.0rem;
  line-height: 1.4;
  letter-spacing: -0.0rem;
}

/* Paragraph */
p {
  margin-top: 0;
  margin-bottom: 2.0rem;
}

/* Paragraph indent */
.rec {
  text-indent: 3rem;
}

/* To capitulate */
.cap {
  text-indent: 0;

  &:first-letter {
    font-size: 5.7rem;
    line-height: 4.0rem;
    font-weight: normal;
    float: left;
    padding: 0 0.5rem 0 0;
  }
}

/* Eye */
.eye {
  font-size: 2.2rem;
  padding: 3rem 10%;
  text-align: center;
  display: block;
  position: relative;
  margin-top: -2rem;

  &:after, &:before {
    opacity: .5;
    font-size: 3rem;
    line-height: 0%;
  }

  &:after {
    content: " ” ";
  }

  &:before {
    content: " “ ";
  }
}

/* Alignment */
.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Weight */

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

.normal {
  font-weight: normal;
}

/* Table */

th {
  text-align: left;
}

/* Basic */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;

  > {
    tbody > tr > {
      td, th {
        padding: 10px;
        line-height: 1.4;
        font-size: 1.4rem;
        vertical-align: top;
        border-bottom: 1px solid #d9d9d9;
      }
    }

    tfoot > tr > {
      td, th {
        padding: 10px;
        line-height: 1.4;
        font-size: 1.4rem;
        vertical-align: top;
        border-bottom: 1px solid #d9d9d9;
      }
    }

    thead > tr > {
      td {
        padding: 10px;
        line-height: 1.4;
        font-size: 1.4rem;
        vertical-align: top;
        border-bottom: 1px solid #d9d9d9;
      }

      th {
        padding: 10px;
        line-height: 1.4;
        font-size: 1.4rem;
        vertical-align: top;
        border-bottom: 1px solid #d9d9d9;
        vertical-align: bottom;
        border-bottom: 1px solid #d9d9d9;
      }
    }

    tbody > tr:first-child > td {
      border-top: 1px solid #d9d9d9;
    }
  }
}

/* Whith border */

.table-border {
  border-left: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;

  > {
    thead > tr > th, tbody > tr > td {
      border-right: 1px solid #d9d9d9;
    }
  }
}

/* Hover lines */

.table-hover > tbody > tr:hover {
  background: #f5f5f5;
}

/* Condenced */

.table-condenced > {
  tbody > tr > {
    td, th {
      padding: 5px 10px;
    }
  }

  tfoot > tr > {
    td, th {
      padding: 5px 10px;
    }
  }

  thead > tr > {
    td, th {
      padding: 5px 10px;
    }
  }
}

/* striped */

.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f5f5f5;
}